<template>
  <v-container class="mt-0">
    <v-layout row wrap>
      <!-- <v-flex xs12 sm6 class="text-xs-center text-sm-right">
        <v-btn large router to="/meetups" class="info">Visualizar os encontros</v-btn>
      </v-flex> -->
    </v-layout>
    <v-layout>
      <v-flex xs12 class="mt-2 text-xs-center">
        <v-progress-circular
          indeterminate
          class="primary--text"
          :width="7"
          :size="70"
          color="pink accent-2"
          v-if="loading"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="mt-2" v-if="!loading">
      <v-flex xs12>
        <p class="text-xs-center">Gráficos dando 'load'</p>
      </v-flex>
    </v-layout> <!--
    <v-layout row wrap class="mt-2">
      <v-flex xs12 class="text-xs-center">
        <p>Participe dos nossos encontros!</p>
      </v-flex>
    </v-layout> -->
  </v-container>
</template>

<script>
  export default {
    computed: {
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
    }
  }

</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2em;
    padding: 2px;
  }
</style>
