<template>
  <v-container class="mt-0">
    <v-layout row v-if="error">
      <v-flex xs12 sm6 offset-sm3>
        <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm8 offset-sm2>
        <v-card-text>
          <v-container>
            <form @submit.prevent="onSignup">
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="email"
                    label="Email"
                    id="email"
                    v-model="email"
                    type="email"
                    color="pink darken-1"
                    required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="password"
                    label="Senha"
                    id="password"
                    v-model="password"
                    type="password"
                    color="pink darken-1"
                    required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="confirmPassword"
                    label="Confirmar a Senha"
                    id="confirmPassword"
                    v-model="confirmPassword"
                    type="password"
                    color="inputP"
                    :rules="[comparePasswords]"
                    hint= "Escolha uma senha segura !"
                  />
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 text-xs-right>
                  <v-btn v-if="!comparePasswords" outline round color ="lecao" type="submit" :disabled="loading" :loading="loading">
                     Cadastrar-se
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                  </v-btn>
                </v-flex>
              </v-layout>
            </form>
          </v-container>
        </v-card-text>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      confirmPassword: '',
      telefoneRes: '',
      celular: '',
      sexo: '',
      cpf: '',
      dataNasc: '',
      cep: '',
      logradouro: '',
      rua: '',
      numero: '',
      bairro: '',
      cidade: '',
      complemento: ''
    }
  },
  computed: {
    comparePasswords () {
      return this.password !== this.confirmPassword ? 'Senhas são diferentes' : ''
    },
    user () {
      return this.$store.getters.user
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/')
      }
    }
  },
  methods: {
    onSignup () {
      // Vuex
      this.$store.dispatch('singUserUp', {
        login: {
          email: this.email,
          password: this.password
        },
        telefoneRes: this.telefoneRes,
        celular: this.celular,
        sexo: this.sexo,
        cpf: this.cpf,
        dataNasc: this.dataNasc,
        endereco: {
          cep: this.cep,
          logradouro: this.logradouro,
          rua: this.rua,
          numero: this.numero,
          bairro: this.bairro,
          cidade: this.cidade,
          complemento: this.complemento
        }
      })
    },
    onDismissed () {
      console.log('Dismissed Alert!')
      this.$store.dispatch('clearError')
    }
  }
}
</script>

