<template>
<v-container mt-2>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3 text-xs-center>
      <h4>Consulta por dia</h4>
    </v-flex>
  </v-layout>
  <v-layout row>
    <v-flex xs12>
      <form @submit.prevent="pesquisarDia">
        <v-flex x12 sm6 offset-sm3>
          <v-dialog
            persistent
            v-model="modal"
            lazy
            full-width
            max-width="290px"
          >
            <v-text-field
              slot="activator"
              label="Selecione um dia para consultar"
              color="inputP"
              v-model="date"
              prepend-icon="event"
              readonly
            ></v-text-field>
            <v-date-picker v-model="date" scrollable actions>
              <template slot-scope="{ save, cancel }">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="cancel">Cancelar</v-btn>
                  <v-btn flat color="primary" @click="save">OK</v-btn>
                </v-card-actions>
              </template>
            </v-date-picker>
          </v-dialog>
        </v-flex>
        <v-layout row>
          <v-flex x12 sm6 offset-sm3 text-xs-center>
            <v-btn
              color="lecao"
              outline
              round
              type="submit">Pesquisar</v-btn>
          </v-flex>
        </v-layout>
      </form>
    </v-flex>
  </v-layout>
  <v-layout mt-4 d-flex>
    <v-card>
      <v-card-title>
        <h5>Lista do dia</h5>
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Procurar por nome"
          single-line
          hide-details
          color="inputP"
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
          v-bind:headers="headers"
          v-bind:items="items"
          v-bind:search="search"
        >
        <template slot="items" slot-scope="props">
          <td class="text-xs-right">{{ props.item.horarioAgen }}</td>
          <td class="text-xs-right">{{ props.item.servAgen }}</td>
          <td class="text-xs-right">{{ props.item.nomeCachorro }}</td>
          <td class="text-xs-right">{{ props.item.racaCachorro }}</td>
          <td class="text-xs-right">{{ props.item.pesoCachorro }}</td>
          <td class="text-xs-right">{{ props.item.sexoCachorro }}</td>
          <td class="text-xs-right">
          </td>
        </template>
      </v-data-table>
    </v-card>
  </v-layout>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        max25chars: (v) => v.length <= 25 || 'Input too long!',
        tmp: '',
        search: '',
        pagination: {},
        headers: [
          {text: 'Horário', value: 'horarioAgen'},
          {text: 'Serviço', value: 'servAgen'},
          {text: 'Nome do cachorro', value: 'nomeCachorro'},
          { text: 'Raça', value: 'racaCachorro' },
          { text: 'Peso', value: 'pesoCachorro' },
          { text: 'Sexo', value: 'sexoCachorro' }
        ],
        items: [
          {
            horarioAgen: '11:30',
            servAgen: 'Tosa',
            nomeCachorro: 'Snow',
            racaCachorro: 'Lhasa Apso',
            pesoCachorro: '7 Kg',
            sexoCachorro: 'M'
          },
          {
            horarioAgen: '12:30',
            servAgen: 'Banho',
            nomeCachorro: 'Tchuco',
            racaCachorro: 'Vira lata',
            pesoCachorro: '19 Kg',
            sexoCachorro: 'M'
          },
          {
            horarioAgen: '10:00',
            servAgen: 'Tosa bebê',
            nomeCachorro: 'Romeu',
            racaCachorro: 'Shitzu',
            pesoCachorro: '7 Kg',
            sexoCachorro: 'M'
          }
        ],
        modal: false,
        menu: false,
        title: '',
        location: '',
        imageUrl: '',
        description: '',
        date: null
      }
    },
    computed: {
      diaEscolhido () {
        const date = new Date(this.date)
        if (typeof this.time === 'string') {
          let hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.setHours(hours)
          date.setMinutes(minutes)
        } else {
          date.setHours(this.time.getHours())
          date.setMinutes(this.time.getMinutes())
        }
        console.log(date)
        return date
      }
    },
    methods: {
      pesquisarDia () {
        const diaPesquisar = {
          date: this.diaEscolhido
        }
        this.$store.dispatch('pesquisarDia', diaPesquisar)
      }
    }
  }
</script>