/**   ylus Styles */

@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
	primary: $red.accent-4
	accent: $red.accent-2
	secondary: $grey.lighten-1
	info: $blue.lighten-1
	warning: $amber.darken-2
	error: $red.accent-4
	sucess: $green.lighten-2
  lecao: $purple.accent-4
  inputP: $pink.darken-1
}

@import '../../node_modules/vuetify/src/stylus/main'



  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
